# macOS system files
.DS_Store

# Postgres Dataset
data_source/postgres/*
!data_source/postgres/.gitkeep

# Virtual Environment
.venv/

# Operation Logs
airflow/dags/dbt_project/logs/*
!dbt_project/logs/.gitkeep

airflow/dags/dbt_project/target/*
!dbt_project/target/.gitkeep

airflow/dags/dbt_project/dbt_packages/*
!dbt_project/dbt_packages/.gitkeep

airflow/logs/*
!airflow/logs/.gitkeep